@import '@styles/utils/keyframes';

.obj1 {
  animation: movedelement 15s linear infinite;
}

.obj2 {
  animation: movedelement3 18s linear infinite;
}

.obj3 {
  animation: movedelement2 10s linear infinite;
}

.obj4 {
  animation: movedelement 10s linear infinite;
}

.obj5 {
  animation: movedelement2 10s linear infinite;
}

.obj6 {
  animation: movedelement3 10s linear infinite;
}