:root {
  --btn-color: var(--color-ea-verde-oscuro-500);
  --btn-background-color: var(--color-ea-amarillo);
  --btn-border-color: var(--color-ea-verde-oscuro-500);
  --btn-hover-transform: translateY(-2px);
}

article.main a {
  @apply font-semibold;
  transition-duration: var(--default-timing-duration);
  transition-timing-function: var(--default-timing-function);
  transition-property: all;
}

.btn {
  @apply inline-flex items-center px-4 py-2 text-xs font-semibold uppercase cursor-pointer;
  transition-duration: var(--default-timing-duration);
  transition-timing-function: var(--default-timing-function);
  transition-property: background-color, color, transform, box-shadow;
  background: var(--btn-background-color);
  border-color: var(--btn-border-color);
  border-width: var(--default-border-width);
  border-style: var(--default-border-style);
  color: var(--btn-color);
}

.btn:hover {
  transform: var(--btn-hover-transform);
  box-shadow: var(--default-box-shadow);
}

.btn-primary {
  --btn-background-color: var(--color-ea-amarillo);
  border: none;
}
.btn-primary:hover,
.btn-primary.active {
  --btn-background-color: var(--color-ea-verde-500);
}

.btn-secondary {
  --btn-background-color: transparent;
}
.btn-secondary:hover,
.btn-secondary.active {
  --default-box-shadow-color: var(--color-ea-verde);
  --default-box-shadow: 4px 4px 0 0 var(--default-box-shadow-color);
}

.btn-outline {
  --btn-border-color: var(--color-ea-amarillo);
  --btn-color: var(--color-ea-amarillo);
  --btn-background-color: transparent;
}
.btn-outline:hover,
.btn-outline.active {
  --default-box-shadow-color: var(--color-ea-amarillo);
  --default-box-shadow: 4px 4px 0 0 var(--default-box-shadow-color);
}

.btnArrow {
  @apply flex justify-center items-center w-10 h-10 rounded-full bg-ea-verde-900 text-ea-amarillo;
}
