body {
  font-family: var(--primary-font);
}

.modal-active {
  overflow: hidden;
}

.display-font {
  font-family: var(--display-font);
}

.fadeInLeft {
  animation: var(--fadeinleft) 0.8s;
}

.fadeIn {
  animation: var(--fadein) 1s;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
